/* Sidebar Cerrada e item Activo */
.normal[aria-current] {
    position: relative;
    width: 60px;
    height: 50px;
    color: #fe4d44;
    background-color: #1f1f1f;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.3s;

    div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    path {
        fill: #fe4d44;
    }

    ::after {
        content: "";
        position: absolute;
        width: 3px;
        height: 50px;
        background-color: #fe4d44;
        left: 0;
        top: 0;
    }
}

/* Sidebar Cerrada e item Desactivado */
.normal {
    width: 60px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.3s;

    div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    a:hover {
        path {
            fill: white;
        }
    }
}

/* Sidebar Abierta e item Desactivado */
.linkOpen {
    height: 50px;
    margin-left: 25px;
    display: flex;
    align-items: center;
    gap: 15px;
    transition-duration: 0.3s;

    p {
        color: #8f8f8f;
        font-weight: bold;
        font-size: 14px;
        padding-bottom: 2px;
    }

    div {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* Hovers Sidebar Cerrada */
.normal:hover {
    path {
        fill: white;
    }
}

/* Sidebar Abierta e item Activado */
.linkOpen[aria-current] {
    position: relative;
    height: 50px;
    margin-left: 25px;
    display: flex;
    align-items: center;
    gap: 15px;
    transition-duration: 0.3s;

    path {
        fill: #fe4d44;
    }

    ::after {
        content: "";
        position: absolute;
        width: 3px;
        height: 50px;
        background-color: #fe4d44;
        left: -25px;
        top: 0;
    }

    div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    p {
        color: #fe4d44;
        font-weight: bold;
        font-size: 14px;
        padding-bottom: 2px;
    }

    p::after {
        display: none;
    }
}

/* Hovers Sidebar Abierta */
.linkOpen:hover {
    p {
        color: white;
    }
    path {
        fill: white;
    }
}
